/*!*********************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!../../../../Library/Frontend/UI/Core/Body.scss ***!
  \*********************************************************************************************************************************************************************************/
body {
  margin: 0;
  background-color: #FFF;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
  }
}
/*!****************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!../../../../Library/Frontend/UI/Core/ColorScheme.scss ***!
  \****************************************************************************************************************************************************************************************/
html {
  color-scheme: light;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
/*!************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!../../../../Library/Frontend/UI/Core/DisableTapHighlight.scss ***!
  \************************************************************************************************************************************************************************************************/
html {
  -webkit-tap-highlight-color: transparent;
}
/*!************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!../../../../Library/Frontend/UI/Core/Outline.scss ***!
  \************************************************************************************************************************************************************************************/
*:focus-visible {
  outline: #1A73E8 auto 2px;
}
/*!*********************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!../../../../Library/Frontend/UI/Core/Text.scss ***!
  \*********************************************************************************************************************************************************************************/
html {
  overflow-wrap: anywhere;
  -webkit-font-smoothing: antialiased;
}
/*!***********************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!../../../../Library/Frontend/UI/Effects/DisableTransitionsOnThemeChanging/Style.scss ***!
  \***********************************************************************************************************************************************************************************************************************/
body.ThemeChanging, body.ThemeChanging * {
  transition: none !important;
}
/*!******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./Source/UI/Body/Map/Style.scss ***!
  \******************************************************************************************************************************************************************/
body > .Map {
  width: 100%;
  height: 100%;
}
/*!**************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./Source/UI/Body/Style.scss ***!
  \**************************************************************************************************************************************************************/
@font-face {
  font-family: "Google Sans";
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/googlesans/v45/4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrwEIJl1pynSEg.woff2) format("woff2");
  unicode-range: U+0308, U+0530-058F, U+2010, U+2024, U+25CC, U+FB13-FB17;
}
@font-face {
  font-family: "Google Sans";
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/googlesans/v45/4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrwEIJlhpynSEg.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  background-color: HSL(225, 15%, 98%);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
  }
}
